#add-modal-main{
    /* position: fixed;
    top: 0;
    left: 0; */
    /* width: 100%; */
    /* height: 100vh; */
    /* background-color: rgba(0,0,0,0.5); */
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 10px;
    /* border: 1px solid red; */
    /* width: 60%; */
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
}
#add-modal-data{
    display: flex;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
}
#add-modal-heading{
    background-color: #212121;
    display: flex;
    align-items: center;
    margin: 30px 10px;
    font-size: 30px;

}
#add-modal-title{
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}
#add-modal-textarea{
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}

#add-modal-btn{
    background-color: #477BFF;
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}