#edit-modal-main{
    background-color: #212121;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    padding: 10px;
    width: 60%;
    margin: 20px auto;
    border-radius: 10px;
}
#edit-modal-data{
    display: flex;
    flex-direction: column;
    background-color: #212121;
    width: 100%;
}
#edit-modal-heading{
    background-color: #212121;
    display: flex;
    align-items: center;
    margin: 30px 10px;
    font-size: 30px;

}
#edit-modal-title{
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}
#edit-modal-textarea{
    padding: 10px;
    font-size: large;
    margin-bottom: 20px;
    outline: none;
    border: none;
    border-radius: 10px;
}

#edit-modal-btn{
    background-color: rgb(60, 126, 60);
    color: aliceblue;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 0;
    cursor: pointer;
}