#home-main{
    width: 90%;
    margin: auto;

    
}
#home-searchBar{
    margin: 30px;
}

#cards-main{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* border: 1px solid red; */

}