#home-main{
    width: 90%;
    margin: auto;

    
}
#home-searchBar{
    margin: 30px;
}

#cards-main{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    /* border: 1px solid red; */

}

#search-main{
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: aliceblue;

    border-radius: 10px;
}
#search-img{
    width: 20px;
    height: 20px;
    
    mix-blend-mode: multiply;
}
#searchbar{
    width: 100%;
    padding: 10px;
    outline: none;
    border: none;
    background-color: aliceblue;
    color: #000000;

    font-size: large;
}